// custom checkbox
.custom-check {
  &::before {
    display: inline-block;
  }
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked {
      & + span.checkbox {
        background: rgb(119, 196, 119);
        &:before {
          left: 50%;
        }
      }
    }
  }
  span.checkbox {
    display: block;
    position: relative;
    width: 50px;
    height: 10px;
    background: rgb(173, 167, 167);
    border-radius: 5px;
    transition: all 0.7s ease-in-out;
    &::before {
      content: "";
      display: block;
      width: 50%;
      height: 100%;
      background: rgb(58, 42, 116);
      border-radius: 5px;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s ease-in-out;
    }
  }
}

// custom radio
.custom-radio {
  &::before {
    display: inline-block;
  }
  input {
    width: 0;
    height: 0;
    opacity: 0;
    &:checked {
      & + span.radio {
        &::after {
          width: 70%;
          height: 70%;
        }
      }
    }
  }
  span.radio {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      background: black;
      border-radius: 50%;
      transition: all 0.3s cubic-bezier(0, -2, 1, 2.2);
    }
  }
}
